*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #141922;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
main {
  display: flex;
  height: calc(100% - 100px);
  overflow: hidden;
  flex-direction: row;
}
body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
main a{
  text-decoration: none;
  color: white;
}
main .home a{
  opacity: 0.5;
  height: 15px;
}
a:hover,
a:focus {
  color:white;
}
ul {
  list-style: none;
}
main .home a:active{
  opacity: 1;
  border-left: 3px solid lightgreen;
  vertical-align: super;
}

.left-nav{
  width: 200px;
  min-height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-nav .logo img{
  opacity: 1;
}
.nav-logo-mobile {
 display: none;
}

.logo img,
.menu-list img,
.playlist img{
  width: 150px;
  margin-top: 25px;
  margin-left: 25px;
}
.left-nav .home{
  height:  120px;
}
.left-nav .home img{
  width: 20px;
  vertical-align: bottom;
}
.left-nav .home li{
  margin:0;
}
.left-nav .home span {
  padding-left: 10px;
  vertical-align: middle;
  font-size: 16px;
}
.left-nav .playlist{
  flex-grow:2;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 60px;
}
.left-nav .playlist h4{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
.left-nav .playlist .add-playlist span:before{
  display: inline-block;
  content:'+';
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
  font-size: 36px;
  color: black;
  background-color: rgba(255, 255, 255, 0.66);
  text-align: center;
  vertical-align: middle;
}
.left-nav .playlist .add-playlist:hover span:before {
  background-color: rgba(255, 255, 255, 1);
}
.left-nav .playlist .menu-list{
  margin-top: 10px;
  height: 100%;
  overflow-y: auto;
}

.left-nav .playlist .menu-list li{
  padding: 5px 0;
}




/* nav di sinistra footer */
.left-nav .user {
  background-color: black;
  padding: 20px;

}
.left-nav .user .download img {
  width: 20px;
  vertical-align: middle;
}

.left-nav .user .download {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin: 0;
}

.left-nav .user .account .account-avatar img {
  width: 30px;
  margin: 0;
}
.left-nav .user .account{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.left-nav .user .account .account-avatar {
  width: 30px;
  height: 30px;
  margin-right:10px;
  border-radius: 50%;
  background-color: grey;
  overflow: hidden;
}
.top-bar{
  width: calc(100% - 200px);
  height: 100px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.btn{
  margin-top: 25px;
  float: right;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 20px;
}
.btn a {
  text-transform: uppercase;
}



@media screen and (max-width: 600px){
  .left-nav {
    width: 50px;
  }

  #top-nav, .top-bar {
    width: calc(100% - 50px);
  }

  .left-nav .logo,
  .left-nav .playlist,
  .left-nav .home .menu-list span,
  .left-nav .user .download span,
  .left-nav .user .account h4 {
    display: none;
  }

  .left-nav .nav-logo-mobile {
    display: block;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 5px;
  }

  .left-nav .user .download {
    border-bottom: 0;
  }


  .left-nav .menu-list li,
  .left-nav .menu-list li.active {
    padding: 0;
    border-left:0;
  }

  .left-nav .home {
    text-align: center;
  }

  .user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .left-nav .user .account .account-avatar {
    margin-right: 0;
  }


}
.container_a{
  width: calc(100% - 200px);
  padding: 10px 30px;
}

#top-nav{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.top_nav_cont{
  width: 100%;
  margin-top: 120px;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.pr_20px{
  padding-right: 20px;
}
#top-nav h3{
  text-transform: uppercase;
  color: grey;
  font-size: 15px;
}
/* rencetly */
#recently{
  position: relative;
  width: 100%;
  height: 250px;
  /* background-color: red; */
}
#recently h2{
  padding: 10px;
  margin-bottom: 10px;
}

.container_b{
    display: flex;
    flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
  }


.container_b .album{
  width: calc(100% / 6);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.layover{
  /* display: none; */
  background-color: rgba(0, 0, 0, 0.7);

}
.album .layover img{
  width: 150px ;
}

















footer{
  width: 100%;
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
 }

/* WARNING FOOTER */

.foot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.sinister{
  width: calc(100% / 3);
  align-items: center;
}
.player{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: calc(100% / 3);
}
#oversize{
  font-size: 30px;
}
.player{
  width: calc(100% / 3);
}
.playmusic{
  text-align: center;
}
.playmusic li{
  display: inline;
  padding-right: 15px;
  vertical-align: middle;
}
.sotto{
 align-items: center;
}
.barra1{
  height: 5px;
  width: 70%;
  border-radius: 3px;
  background-color: white;
  margin: 0 20px;
}
.barrain1{
  height: 5px;
  width: 20%;
  border-radius: 3px;
  background-color: lightgreen;
}
.control{
  width: calc(100% / 3);
  align-items: center;
  justify-content: flex-end;
}
/* WARNING:  */
.aaaa li {
padding-right: 5px;
}
.barra2{
  height: 5px;
  width: 40%;
  border-radius: 3px;
  background-color: white;
  margin: 0 20px;
}
.barrain2{
  height: 5px;
  width: 15%;
  border-radius: 3px;
  background-color: lightgreen;
}
.row{
  display: flex;
  flex-direction: row;
}
.spbw{
  justify-content: space-between;
}
.md{
  height: 50px;
}

.hwhite:hover{
  color: white;
}
.underwhite:hover{
  color: white;
  text-decoration: underline;
}
/* PADDING&MARGINI */
.pd_30{
  padding: 30px 0px;
}
/* TOP */
.pdt_90{
  padding-top: 50px;
}
.pdt_50{
  padding-top: 50px;
}
.pdt_30{
  padding-top: 30px;
}
.pdt_20{
  padding-top: 20px;
}
.pdt_10{
  padding-top: 10px;
}
.pdt_5{
  padding-top: 5px;
}
/* BOTTOM */
.pdb_50{
  padding-bottom: 50px;
}
.pdb_30{
  padding-bottom: 30px;
}
.pdb_20{
  padding-bottom: 20px;
}
.pdb_10{
  padding-bottom: 10px;
}
.pdb_5{
  padding-bottom: 5px;
}
/* RIGHT */
.pdr_30{
  padding-right: 30px;
}
.pdr_20{
  padding-right: 20px;
}
.pdr_10{
  padding-right: 10px;
}
.pdr_5{
  padding-right: 5px;
}
/* LEFT */
.pdl_150{
  padding-left: 150px;
}
.pdl_50{
  padding-left: 50px;
}
.pdl_30{
  padding-left: 30px;
}
.pdl_20{
  padding-left: 20px;
}
.pdl_10{
  padding-left: 10px;
}
.pdl_5{
  padding-left: 5px;
}
.lh{
  line-height: 30px;
}
.tcw{
  color: white;
}
.tcg{
  color: #919496;
}
